{{ define "main" }}

<div class="container">
        <div class="row">
        <div class="article-container col-lg-9 col-md-12">
            <nav aria-label="breadcrumb">
                {{ if isset .Params "breadcrumb" }}
                <ol class="breadcrumb">
                    {{ range .Params.breadcrumb }}
                    <li class="breadcrumb-item">
                        <a href="{{ .link }}">{{ .label }}</a>
                    </li>
                    {{ end }}
                </ol>
                {{ else }}
                {{ $.Scratch.Add "path" .Site.BaseURL }}
                <ol class="breadcrumb">
                    <li><a href="/" class="breadcrumb-link">Accueil</a></li>
                    {{ range $index, $element := split .RelPermalink "/" }}
                        {{ $.Scratch.Add "path" $element }}
                        {{ if ne $element "" }}
                            <li><a href='{{ $.Scratch.Get "path" }}'>{{ humanize . }}</a></li>
                            {{ $.Scratch.Add "path" "/" }}
                        {{ end }}
                    {{ end }}
                </ol>
                {{ end }}

            </nav>
            <div class="thumbnails" style="background-image: url('{{ .Params.image | absURL}}')"></div>
            <h1 class="title-article">{{ .Title }}</h1>
            <div class="content-article">
                {{ .Content }}
            </div>
        </div>
        <div class="side-article-home side-article col-lg-3 col-md-12">
            <hr>
            <h3 class="taxonomy-title">Les articles à la une :</h3>
            {{ range first 3 (shuffle (where (where .Site.RegularPages "Section" "pages") "Title" "!=" .Title )) }}
            <a href="{{ .Permalink | absURL }}">
                    <div class="image-side-article" style="background-image: url('{{ .Params.image | absURL}}')"></div>
                </a>
                <h4 class="article-link">
                    <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
                </h4>   
            {{ end }}
        </div>
    </div>
</div>
{{ if .Site.Params.blog.enable }}
{{ with .Site.Params.blog }}
<!-- ARTICLES -->
<div class="container">
    <div class="row">
        <div class="taxonomies-home col-lg-12 col-md-12">
            <h4>Un autre article ?</h4>   
            <div class="articles-area row">
                <!-- One Card -->
                {{ with $.Site.GetPage "section" "blog" }}
                {{ range after 2 .Data.Pages }}                        
                <div class="article col-lg-4 col-md-6 col-sm-12">
                    <a href="{{ .Permalink | absURL }}">
                        <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                    </a>
                    {{ partial "categories.html" .}}

                    <h4 class="article-link">
                        <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
                    </h4>
                    <p>{{ .Summary }}</p>
                    <hr>
                </div>   
                {{ end }}
                {{ end }}
                <!-- End Card -->
            </div>    
        </div>            
    </div>
</div>
{{ end }}
{{ end }}

{{ end }}
