@charset "UTF-8";
/* VARIABLES */
/*THEMES*/
$color-background-dark: {{ .Site.Params.color_background_dark | default "#33BCAC" }}; // Dark Background Color
$color-background-light: {{ .Site.Params.color_background_light | default "#FFFFFF" }}; // Light Background Color
$color-background-secondary: {{ .Site.Params.color_background_light | default "#FFFFFF" }};

/* COLORS FONTS */
$color-dark: {{ .Site.Params.color_dark | default "#0D0D0D" }};  // Dark Font Color
$color-light: {{ .Site.Params.color_light | default "#FFFFFF" }}; // Light Font Color
$color-secondary: {{ .Site.Params.color_secondary | default "#F27830" }};

$font_title: {{ .Site.Params.font_title | default "Oswald" }};
$font_text: {{ .Site.Params.font_text | default "Open Sans" }};

$border: {{ .Site.Params.border | default "3px solid black" }};

/* IMPORT FONT */
@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* CODE GENERAL */
html {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
}

a, a:hover {
  text-decoration: none;
  color: black;
}

p {
  font-family: $font_text, sans-serif;
  font-size: 1rem;
}

li {
  list-style: none;
}

/***** CODE SECTIONS *****/
/* NAVBAR - HEADER */
#nav-bar {
  background-color: $color-background-dark;
  color: $color-light;
}

#nav-bar #brand-logo-header .logo {
  color: $color-secondary;
  font-family: $font_title, sans-serif;
  font-size: 5rem;
  margin: 0;
  text-transform: uppercase;
  font-style: italic;
}

#nav-bar #brand-logo-header p {
  font-family: open;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.7rem;
  font-family: $font_text, sans-serif;
}

#nav-bar #social-network-header {
  margin-top: 0px;
}

#nav-bar #social-network-header a {
  color: $color-light;
  font-size: 25px;
  margin: 20px;
  display: block;
  text-align: end;
  padding-right: 50px;
}

/* Menu Hamburger */
.menu-container {
  height: 0%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  -webkit-transition: 0 ease-in-out;
  transition: 0 ease-in-out;
}

.menu-container nav ul li {
  display: inline-block;
  padding: 10px;
}

.menu-container nav ul li a {
  text-decoration: none;
  color: $color-light;
  display: block;
  font-size: 1.5em;
}

.menu-content {
  position: relative;
  top: 25%;
  width: 15%;
  text-align: center;
  margin-top: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.menu-content a {
  padding: 16px;
  text-decoration: none;
  font-size: 14px;
  color: $color-light;
  display: block;
  font-family: $font_text, sans-serif;
  font-weight: bold;
}

.menu-content ul {
  list-style: none;
  margin: 0 auto;
  display: block;
  width: 100%;
  overflow: hidden;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.menu-content ul li {
  position: relative;
  float: left;
  width: 100%;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.menu-content ul li ul .btn {
  background-color: rgba(255, 255, 255, 0.205);
  color: $color-light;
  border-radius: 0px;
  border-bottom: 1px solid #000;
}

.menu-content ul li a {
  display: block;
}

.menu-content li > ul {
  display: block;
  height: 0;
}

.menu-content li:hover > ul {
  height: 47px;
  overflow: visible;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

@-webkit-keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
  }
  85% {
    opacity: 1;
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.menu li {
  -webkit-animation: FadeIn 1s linear;
          animation: FadeIn 1s linear;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

.menu > li:nth-child(1),
.menu > li:nth-child(4) {
  border-bottom: 3px solid white;
}

/* HERO */
#hero {
  background-color: $color-background-dark;
  color: $color-light;
  padding: 100px 0;
}

#hero #hero-article {
  margin-top: 10px;
}

#hero #hero-article .article-link a {
  background: -webkit-linear-gradient(bottom, white 2px, transparent 0) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
  color: $color-light;
}

#hero #hero-article .article-link a:hover {
  background-size: 100% 100%;
}

#hero #hero-article h2 {
  font-family: $font_title, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  font-style: italic;
}

#articles-section, .taxonomies-home {
  padding-top: 25px;
}

#articles-section h1, .taxonomies-home h1 {
  font-family: $font_title, sans-serif;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 20px;
}
.category-description a {
  font-weight: bold;
  color: $color-dark;
  text-decoration: underline;
}
.category-description h2,
.category-description  h3,
.category-description  h4 {
  font-family: $font_title, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
.category-description img {
  max-width: 100%;
  height: 100%;
}
.category-description blockquote {
  font-style: normal;
  margin-top: 16px;
  border-left: 4px solid $color-secondary;
  padding-left: 8px;
}

#articles-section h4, .taxonomies-home h4 {
  font-family: $font_title, sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}

#articles-section .articles-area, .taxonomies-home .articles-area {
  border: $border;
  padding: 10px;
  margin-bottom: 25px;
}

#articles-section .articles-area .article, .taxonomies-home .articles-area .article {
  margin: 15px 0;
}

#articles-section #articles-footer, .taxonomies-home #articles-footer {
  text-align: center;
  padding-top: 60px;
}

.image-article, .thumbnails,
.image-side-article {
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  border: $border;
}

.image-article {
  height: 200px;
  width: 300px;
}

.thumbnails {
  height: 400px;
  width: 100%;
}

.image-side-article {
  height: 100px;
  width: 100%;
}

.entry-category {
  display: inline-block;
  border: 3px solid;
  position: relative;
  background: $color-background-light;
  font-size: 0.75rem;
  letter-spacing: 0.08333em;
  text-transform: uppercase;
  font-family: $font_title, sans-serif;
  padding: 5px 15px;
  top: 0px;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 5px;
}

.entry-category:hover {
  background: $color-secondary;
}

.entry-category:hover:before {
  background: $color-background-light;
}

.entry-category:before {
  content: '';
  display: block;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  border: 3px solid;
  position: absolute;
  z-index: -1;
  left: 0.25em;
  top: 0.25em;
  background: $color-secondary;
}

.primary-btn {
  background-color: $color-dark;
  color: $color-light;
  padding: 23px;
}

.primary-btn:hover {
  color: $color-light;
}

.article-link a {
  background: -webkit-linear-gradient(bottom, black 2px, transparent 0) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 0.3s;
  transition: background-size 0.3s;
}

.article-link a:hover {
  background-size: 100% 100%;
}

.article-container .entry-category {
  margin-top: 30px;
}

.title-article {
  font-family: $font_title, sans-serif;
  margin: 40px 0 20px 0;
  color: $color-dark;
  font-size: 1.125rem;
  font-weight: 900;
  font-style: italic;
  line-height: 1;
  text-transform: uppercase;
  font-size: 3rem;
}

.content-article p {
  padding-right: 8rem;
  font-family: $font_text, sans-serif;
  font-size: 1rem;
}
.content-article h2, .content-article h3, .content-article h4, .content-article h5, .content-article h6 {
  font-family: $font_title, sans-serif;
}

.content-article blockquote {
  font-style: normal;
  margin-top: 16px;
  border-left: 4px solid $color-secondary;
  padding-left: 8px;
}

.content-article a {
  font-weight: bold;
  text-decoration: underline;
}
.content-article img {
  max-width: 100%;
  height: auto;
}
.breadcrumb {
  padding: 30px 0;
  margin: 0;
  text-transform: uppercase;
  background-color: transparent;
  font-family: $font_title, sans-serif;

}

.breadcrumb p {
  margin-left: 10px;
}

.breadcrumb p, .breadcrumb a {
  font-family: $font_title, sans-serif;
}
.breadcrumb li {
  margin-right: 15px;
}
.breadcrumb a::before {
  content: ">";
  margin-right: 15px;
}
.breadcrumb .breadcrumb-link:first-child::before{
  content: "";
}
.side-article-home {
  padding-top: 25px;
}

.side-article-home .taxonomy-title {
  font-family: $font_title, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.side-article-home hr {
  height: 1px;
  width: 100%;
  background: #000;
  margin: 30px 0;
}

.side-article-home .article-link {
  font-size: 1rem;
  font-family: $font_title, sans-serif;
  margin: 5px 0px 30px 0px;
}
.side-article-home .widget_text a{
  font-weight: bold;
  text-decoration: underline;
}
.side-article-home img{
  max-width: 100%;
  height: 100%;
}
.side-article-home .searchform .screen-reader-text {
  display: none;
}

.side-article-home .searchform button .btn-dark {
  background-color: $color-dark;
}

#taxonomies-home .side-article {
  padding-top: 0;
}

footer {
  background-color: $color-background-dark;
  color: $color-light;
  text-align: center;
}

footer p {
  font-size: 1rem;
  margin-bottom: 0;
  padding: 10px 0;
  font-family: $font_text, sans-serif;
}
footer p a{
	color: $color-light;
	text-decoration: none;
}
footer p a:hover{
	color: $color-light;
	text-decoration: none;
}
.tag-title, .tag {
  font-size: 1rem;
}

.side-tag:hover {
  text-decoration: underline;
}

.side-tag::after {
  content: ",";
}

.toggle-icon-open {
  position: absolute;
  display: block;
  height: 30px;
  width: 40px;
  left: 70px;
  top: 35px;
  cursor: pointer;
  position: relative;
}

.toggle-icon-open span {
  width: 100%;
  background-color: $color-light;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.toggle-icon-open span::before, .toggle-icon-open span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $color-light;
}

.toggle-icon-open span::before {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}

.toggle-icon-open span::after {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

.toggle-icon-close {
  position: absolute;
  display: block;
  height: 30px;
  width: 40px;
  left: 70px;
  top: 36px;
  cursor: pointer;
  position: relative;
}

.toggle-icon-close span {
  width: 100%;
  background-color: transparent;
  height: 3px;
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.toggle-icon-close span::before, .toggle-icon-close span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: $color-light;
}

.toggle-icon-close span::before {
  -webkit-transform: translateY(0px) rotateZ(-45deg);
  transform: translateY(0px) rotateZ(-45deg);
}

.toggle-icon-close span::after {
  -webkit-transform: translateY(0px) rotateZ(45deg);
  transform: translateY(0px) rotateZ(45deg);
}

.btn {
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: $color-light;
  text-transform: uppercase;
}

.btn:hover {
  color: $color-light;
}

.btn::after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $color-secondary;
}

.btn:hover::after, .btn:active::after {
  width: 100%;
}

/* Page Mentions Légales */
#mentions {
  padding: 15vh 0 21vh 0;
}

#mentions h4 {
  font-family: $font_title, sans-serif;
}

#mentions p {
  margin-bottom: 3px;
  font-size: 0.9rem;
}

#mentions span {
  font-weight: bold;
}

/*  AUTHOR PAGE  */
.author-image{
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 15%;
  margin-bottom: 20px;
}
.author-social-links a{
  font-size: 1.5rem;
  margin: 10px;
}
.bio{
  margin: 30px 0;
}
.list-authors .author-image{
  width: 40%;
}

@media screen and (max-width: 1199px) {
  .menu-content {
    width: 15%;
  }
}

@media screen and (max-width: 991px) {
  .menu-content {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  #social-network-header {
    display: none;
  }
  .menu-content {
    width: 50%;
  }
  .content-article p {
    padding-right: 0rem;
  }
  .title-article {
    font-size: 2.2rem;
  }
  li > ul {
    display: block;
    overflow: visible;
  }
  .author-image{
    width: 30%;
  }
}

@media screen and (max-width: 576px) {
  .menu-content {
    width: 90%;
  }
  .toggle-icon-open {
    left: 20px;
    top: 30px;
  }
  .toggle-icon-close {
    left: 33px;
    top: 30px;
  }
  .image-article {
    height: 200px;
    width: 260px;
  }
}

@media screen and (max-width: 470px) {
  #brand-logo-header {
    margin-top: 20px;
  }
  .toggle-icon-open {
    left: 50%;
    top: 10px;
  }
  .toggle-icon-close {
    left: 50%;
    top: 10px;
  }
  .author-image{
    width: 50%;
  }
}
