{{ define "main" }}
<div id="articles-section">
    <div class="container">
    <h1>Toutes les {{ .Title }}</h1>
    {{ .Content }}
    <div class="articles-area row">
        {{ range .Data.Pages }}
        <div class="article col-lg-4 col-md-6 col-sm-12">
            {{ partial "categories.html" .}}
            <h4 class="article-link">
                <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
            </h4>
            <p>{{ .Summary}}</p>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}