{{ define "main" }}
<div id="articles-section">
    <div class="container">
        <img class="author-image" src="{{ .Params.image }}" alt="Auteur : {{ .Params.name }}"/>
        <h1>Auteur : {{ .Params.name }}</h1>
        <div class="author-social-links text-center">
        {{ range .Params.socials }}
            <a target="_blank" href="https://{{ .social }}.com/{{ .profil }}"><i class="fab fa-{{ .social }}"></i></a>
        {{ end }}
        </div>

        
        <div class="bio">
            {{ .Content }}
        </div>
        <h4>Tous ses articles :</h4>
        <div class="articles-area row">
            {{ range .Data.Pages }}
            {{ if ne .Permalink nil }}
                <div class="article col-lg-4 col-md-6 col-sm-12">
                    <a href="{{ .Permalink | absURL }}">
                        <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                    </a>
                    {{ partial "categories.html" .}}
                    <h4 class="article-link">
                        <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
                    </h4>
                    <p>{{ .Summary }}</p>
                    <hr>
                    <p class="tag">Tags: {{ partial "tags.html" .}}</p>
                </div>
                {{ end }}
            {{ else }}
                <p>Il n'y a pas d'article pour cet auteur...</p>
            {{ end }}
        </div>
    </div>
</div>


{{ end }}