{{ define "main" }}
<div id="articles-section" class="list-authors">
  <div class="container">
    <h1>Les auteurs</h1>
    <div class="articles-area row">
      {{ range .Data.Pages }}
      <div class="col-lg-4 text-center">
        <img class="author-image" src="{{ .Params.image }}" alt="Auteur : {{ .Params.name }}"/>
        <h4><a href="{{ .Permalink }}">{{ .Params.name }}</a></h4>
        <div class="author-social-links text-center">
          {{ range .Params.socials }}
              <a target="_blank" href="https://{{ .social }}.com/{{ .profil }}"><i class="fab fa-{{ .social }}"></i></a>
          {{ end }}
          </div>
      </div>
      {{ end }}
    </div>
    <div class="row">
      <div class="taxonomies-home col-lg-12 col-md-12">
          <h4>Tous les articles</h4>
          <!-- One Card -->
          <div class="articles-area row">
              {{ with $.Site.GetPage "section" "blog" }}
              {{ range first 4 .Data.Pages }}
              <div class="article col-lg-4 col-md-6 col-sm-12">
                  <a href="{{ .Permalink | absURL}}">
                      <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                  </a>
                  {{ partial "categories.html" .}}
                  <h4 class="article-link">
                      <a href="{{ .Permalink | absURL}}">{{ .Title }}</a>
                  </h4>
                  <p>{{ .Summary }}</p>
                  <hr>
                  <p class="tag">Tags: {{ partial "tags.html" .}}</p>              
              </div>
              {{ end }}
              {{ end }}
          </div>
          <!-- One Card -->
      </div>
  </div>
  </div>
{{ end }}