{{ define "main" }}

<div id="articles-section">
    <div class="container">
    <h1>Tag : {{ .Title }}</h1>
    {{ .Content }}
    <div class="articles-area row">
        {{ range .Data.Pages }}
        {{ if ne .Permalink nil }}
        <div class="article col-lg-4 col-md-6 col-sm-12">
            <a href="{{ .Permalink | absURL }}">
                <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
            </a>
            {{ partial "categories.html" .}}
            <h4 class="article-link">
                <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
            </h4>
            <p>{{ .Summary }}</p>
            <hr>
            <p class="tag">Tags: {{ partial "tags.html" .}}</p>
        </div>
        {{ end }}
        {{ else }}
            <p>Pas d'article actuellement...</p>
            <p>Essayer ces tags : </p>
        {{ end }}
    </div>
    </div>
</div>
{{ end }}