{{ $taxonomy := "categories" }}
{{ with .Param $taxonomy }}
  <ul>
    {{ range $index, $category := . }}
      {{ with $.Site.GetPage (printf "/%s/%s" $taxonomy $category) -}}
      <h3 class="entry-category">
          <a href="{{ .Permalink | absURL }}">{{ $category | urlize }}</a>
      </h3>
      {{- end -}}
    {{- end -}}
  </ul>
{{ end }}