<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.description }}{{ end }}">

<title>{{ .Title }}</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{{ range .Site.Params.plugins.css }}
<link rel="stylesheet" href="{{ .URL | absURL }} ">
{{ end }}

{{ range .Site.Params.plugins.fonts }}
<link rel="stylesheet" href="{{ .URL | absURL }} "> 
{{ end }}

{{ $styles := resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
      <link rel="stylesheet" href="{{ $styles.Permalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
{{ range .Site.Params.plugins.js }}
<script src="{{ .URL | absURL }} "></script>
{{ end }}
<script src="https://kit.fontawesome.com/fc7e4946c4.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/app.js"></script>
<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>