
    <!-- HEADER - NAV -->
    <div class="row" id="nav-bar">
        <div class="col-md-4 col-sm-12">
            <div class="overlay">
                <div class="toggle-icon-open" onclick="openMenu()">
                    <span ></span>
                </div>
            </div>
            <div class="menu-container" id="navbar">
                    <div class="toggle-icon-close" onclick="closeMenu()">
                        <span ></span>
                    </div>
                <div class="menu-content">
                    <ul class="menu">
                        <li><a class="btn" href="{{ .Site.BaseURL }}">Accueil</a></li>
                        {{ $currentPage := . }}
                        {{ range .Site.Menus.main }}
                            {{ if .HasChildren }}
                            <li>
                                <a class="btn" href="{{ .URL | absURL}}">{{ .Name }}</a>
                                <ul class="sub-menu">
                                    {{ range .Children }}
                                    <li>
                                        <a class="btn" href="{{ .URL | absURL}}">{{ .Name }}</a>
                                    </li>
                                    {{ end }}
                                </ul>
                            </li>
                            {{ else }}
                            <li><a class="btn" href="{{ .URL | absURL}}">{{ .Name }}</a></li>
                            {{ end }}
                        {{ end }}







                    </ul>
                </div>
              </div>
        </div>
        <div id="brand-logo-header" class="col-md-4 col-sm-12 text-center">
            <a href="{{ .Site.BaseURL }}">
                <h1 class="logo">{{ .Site.Params.logo }}</h1>
            </a>
            <p>{{ .Site.Params.slogan }}</p>
        </div>
    </div>
</div>

