{{ define "main" }}


{{ if .Site.Params.hero.enable }}
{{ with .Site.Params.hero }}
{{ "<!--heroSection-->" | safeHTML }}
<div id="hero">
    <div class="container">
        <div class="row">
            {{ with $.Site.GetPage "section" "blog" }}
            {{ range first 1 .Data.Pages }}
            <div class="col-lg-4 col-md-12">
                <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
            </div>
            <div class="col-lg-8 col-md-12">
                <div id="hero-article">
                    <h2 class="article-link">
                        <a href="{{ .Permalink | absURL }}">{{ .Title }}</a>
                    </h2>
                    <p>{{ .Summary }}</p>
                    {{ partial "categories.html" .}}
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</div>
{{ end }}
{{ end }}

{{ "<!--taxonomiesSection-->" | safeHTML }}
{{ if .Site.Params.blog.enable }}
<div class="container">
    <div class="row">
        <div id="taxonomies-section" class="col-lg-9 col-md-12">
            {{ "<!--taxonomiesList-->" | safeHTML }}
            {{ range $key, $taxonomy := .Site.Taxonomies.categories }}
            <div class="taxonomies-home col-lg-12 col-md-12">
                <h4>Categories : <a href="{{ .Page.Permalink }}">{{ $key }}</a><span> ({{ .Count }})</span></h4>
                <div class="articles-area row">
                    {{ with $.Site.GetPage "section" "blog" }}
                    {{ range first 4 $taxonomy.Pages }}
                    <div class="article col-lg-6 col-md-6 col-sm-12">
                        <a href="{{ .Permalink | absURL}}">
                            <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                        </a>
                        {{ partial "categories.html" .}}
                        <h4 class="article-link">
                            <a href="{{ .Permalink | absURL}}">{{ .Title }}</a>
                        </h4>
                        <p>{{ .Summary }}</p>
                        <hr>
                        <p class="tag">Tags: {{ partial "tags.html" .}}</p>              
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{ end }}

            <div class="taxonomies-home col-lg-12 col-md-12">
                <h4>Tous les articles</h4>
                <div class="articles-area row">
                    {{ with $.Site.GetPage "section" "blog" }}
                    {{ range first 4 .Data.Pages }}
                    <div class="article col-lg-6 col-md-6 col-sm-12">
                        <a href="{{ .Permalink | absURL}}">
                            <div class="image-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                        </a>
                        {{ partial "categories.html" .}}
                        <h4 class="article-link">
                            <a href="{{ .Permalink | absURL}}">{{ .Title }}</a>
                        </h4>
                        <p>{{ .Summary }}</p>
                        <hr>
                        <p class="tag">Tags: {{ partial "tags.html" .}}</p>              
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
        {{ "<!--sideBar-->" | safeHTML }}
        <div class="side-article-home side-article col-md-3">
            <hr>
            <h3 class="taxonomy-title">Toutes les catégories :</h3>
            {{ range .Site.Taxonomies.categories }}
                <h3 class="entry-category">
                        <a href="{{ .Page.Permalink | absURL }}">{{ .Page.Title }}</a>
                    </h3>
            {{ end }}
            <hr>
            <h3 class="taxonomy-title">Tags :</h3>
            {{ range .Site.Taxonomies.tags }}
                <a class="tag side-tag" href="{{ .Page.Permalink | absURL}}">{{ .Page.Title }}</a>
            {{ end }}
            <hr>
            <h3 class="taxonomy-title">Les articles à la une :</h3>
            {{ range first 3 (shuffle (where .Site.RegularPages "Section" "blog")) }}
            <a href="{{ .Permalink | absURL }}">
                    <div class="image-side-article" style="background-image: url('{{ .Params.image | absURL }}')"></div>
                </a>
                <h4 class="article-link">
                    <a href="{{ .Permalink | absURL}}">{{ .Title }}</a>
                </h4>   
            {{ end }}
            <hr>
        </div>
    </div>
</div>
{{ end }}
{{ end }}