{{ define "main" }}
{{ with .Site.Params.mentions }}
<section id="mentions" class="{{ .class }}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="left-section">
                    <div id="mentions_section">
                        <h4>Mentions légales</h4>
                        <p>Raison sociale : <span>{{ .company }}</span></p>
                        <p>Adresse : <span>{{ .adress }}</span></p>
                        <p>tel : <span>{{ .tel }}</span></p>
                        <p>Email : <span>{{ .email }}</span></p>
                        <p>{{ .type }}</p>
                        {{ if .rcs_enable }}
                        <p>Numéro d’immatriculation au RCS : <span>{{ .immatriculation }}</span></p>
                        {{ end }}
                        {{ if .tva_enable }}
                        <p>Numéro de TVA Intracommunautaire : <span>{{ .tva }}</span></p>
                        {{ end }}
                        <p>Directeurs de la publication : <span>{{ .directeur_publication }}</span></p>
                        <p>Prestataire d'hébergement : <span>{{ .prestataire_hebergement }}</span></p>
                        <p>Téléphone: <span>{{ .tel_hebergement }}</span></p>
                    </div>

                    <div id="presentation">
                        <h4>Propriété intellectuelle et droit des marques</h4>

                        Le site internet <span>{{ .website }}</span> est protégé par les lois en vigueur sur la
                        propriété
                        intellectuelle. Toute représentation ou présentation de ce site, en tout ou partie doit au
                        préalable être autorisé par <span>{{ .company }}</span>. 
                        {{ if .inpi_enable }}
                        La marque <span>{{ .brand }}</span> est enregistrée à l’INPI sous le
                        numéro <span>{{ .inpi_numero }}</span>.
                        {{ end }}
                        Toute utilisation ou reproduction de la marque <span>{{ .brand }}</span> est interdite sans
                        l’autorisation de <span>{{ .company }}</span>.

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="right-section">
                    <div id="personal_data">
                        <h4>Données personnelles</h4>

                        <p> Les informations recueillies à partir du formulaire du contact font l’objet d’un traitement
                            informatique destiné à : <span>{{ .company }}</span> </p>

                        <p> Pour la ou les finalité(s) suivante(s) : La gestion des clients, la prospection, les
                            opérations
                            de fidélisation, l’élaboration de statistiques commerciales, la cession, la location ou
                            l’échange de fichiers de clients et de prospects, l’organisation d’opération promotionnelle,
                            la
                            gestion des demandes de droit d’accès, de rectification et d’opposition, la gestion des
                            impayés
                            et du contentieux, et la gestion des avis des personnes sur des produits, services ou
                            contenus.</p>

                        <p> Le ou les destinataire(s) des données sont : Service commercial, service clientèle, service
                            support, service technique, service comptabilité</p>

                        <p> Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous disposez
                            d’un droit d’accès et de rectification aux informations qui vous concernent.</p>

                        <p> Vous pouvez accèder aux informations vous concernant en vous adressant à : </p>
                            Direction générale {{ .company }} : <span>{{ .email }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>
{{ end }}
{{ end }}
